**/input.txt
**/*.asv
Day 09/Day09Part1.m
Day 09/Day09Part2.m
Day 12/Day12Part1_old.m
Day 12/Day12Part2_old.m
Day 15/Day15Part2.m
Day 15/Day15Part1.m
Day 17/Day17Part1.m
Day 17/Day17Part2.m
Day 23/Day23Part2.m
